@{
    ViewData["RootUrl"] = "/blazor/";
}

@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>
}

@section ExtraCss {
    <link href="css/app.css" rel="stylesheet" />
}

<div class="bg-dark text-white p-2">
    <div class="navbar-brand">SPORTS STORE</div>
</div>

<app>Loading...</app>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
