<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <div class="navbar-brand">SPORTS STORE</div>
      <div class="float-right navbar-text">
        <app-store-cartsummary></app-store-cartsummary>
      </div>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col"><app-blazor></app-blazor></div>
</div>
<div class="row no-gutters">
  <div class="col-3">
    <app-store-categoryfilter></app-store-categoryfilter>
  </div>
  <div class="col">
    <app-store-product-list></app-store-product-list>
    <app-store-pagination></app-store-pagination>
  </div>
</div>
